body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

canvas {
    border: 5px solid #fff; /* Borde blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2), 0 6px 20px rgba(0, 0, 0, 0.6);
    background-color: #1e1e1e; /* Fondo oscuro del canvas */

}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: lime;
    color: black;
    margin-top: 10px;
    transition: all 0.3s ease; /* Transición suave */
}

button:hover {
    background-color: green; /* Cambio de color en hover */
    color: white; /* Texto blanco en hover */
    transform: scale(1.05); /* Efecto de zoom */
}

button:active {
    background-color: darkgreen; /* Color más oscuro al hacer clic */
    transform: scale(0.95); /* Reducir tamaño al hacer clic */
}

p {
    font-size: 16px;
    color: #b3b3b3; /* Texto en gris claro */
    margin-top: 15px;
}

/* Ventana flotante */
.pantalla-nombre {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semitransparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Encima de todo */
    visibility: hidden; /* Oculto por defecto */
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s; /* Transiciones suaves */
}

.pantalla-nombre.mostrar {
    visibility: visible;
    opacity: 1;
}

.pantalla {
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: black;
}

#pantalla h2 {
    margin-top: 0;
}

#pantalla input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#pantalla button {
    background-color: lime;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#pantalla button:hover {
    background-color: green;
    color: white;
}

#puntuacion {
    font-size: 24px;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 10px; /* Espacio entre el marcador y el canvas */
}

#puntuacion i, #puntuacion img {
    margin-right: 8px; /* Espacio entre el ícono y el texto */
    vertical-align: middle; /* Alinear con el texto */
}
